{% extends 'base.html' %}
{% block content %}
<div class="row row-flex">
    {% for product in products %}
    <div class="container-fluid-price panel">
        <div class="panel pricing-table">
            <div class="pricing-plan">
                <h3 class="pricing-price">{{ product.name }} plan</h3>
                <ul class="pricing-features">
                    <li class="pricing-features-item">All features of trial</li>
                    <li class="pricing-features-item">Unlimited notes</li>
                    <li class="pricing-features-item">Notebooks</li>
                    <li class="pricing-features-item">Search</li>
                </ul>
                <span class="pricing-price">€{{ product.price }}</span>per month
                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <br />
                    <input name='quantity' type="number" min="1" max="999" class="form-control" placeholder="How many months ?" required>
                    <button role="submit" class="pricing-button is-featured">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}