/* Custom CSS */

/* General */
body {
	font-family: Arial;
	margin: 0;
	padding: 0;
}

section{
	width: 100%;
	min-height: 95vh;
}

h1,
h1 a {
	color: #555555;
	text-decoration: none;
}

/* CSS from https://github.com/Code-Institute-Solutions/blog_miniproject1/blob/master/static/css/custom.css*/
.navbar-form input,
.form-inline input {
	width: auto;
}

.story-img {
	margin-top: 25%;
	display: block;
}

.story-img img {
	width: 55px;
	height: 55px;
}

a,
a:hover {
	color: #223344;
	text-decoration: none;
}

.icon-bar {
	background-color: #fff;
}

.dropdown-menu {
	min-width: 250px;
}

.panel {
	border-color: transparent;
	border-radius: 0;
}

.thumbnail {
	margin-bottom: 8px;
}

.img-container {
	overflow: hidden;
	height: 170px;
}

.img-container img {
	min-width: 280px;
	min-height: 180px;
	max-width: 380px;
	max-height: 280px;
}

.img-circle {
	width: 100px;
	height: 100px;
}

.img-blogpost {
	height: 300px;
	width: auto;
}

.txt-container {
	overflow: hidden;
	height: 100px;
}

.panel .lead {
	overflow: hidden;
	height: 90px;
}

.label-float {
	margin: 0 auto;
	position: absolute;
	top: 0;
	z-index: 1;
	width: 100%;
	opacity: 0.9;
	padding: 6px;
	color: #fff;
}

.boldtext {
	font-weight: bold;
}

/* CSS from auth app */
.icon-bar {
	background-color: #fff;
}

.accountform {
	padding-top: 20px;
}

/* Footer */
footer {
	margin-top: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
	border-top: 1px solid #ededed;
	color: #a9a9a9;
}