/* Custom CSS */

.note-details{
	background-color: #7386D5;
}

.note-actions-edit{
	background-color: #8A686C;
}

.note-actions-share{
	background-color: #798DAA;
}

.note-actions-trash{
	background-color: #924A78;
}

.payment-form-checkout {
	padding-top: 15vh;
}

.badge{
	vertical-align: super;
}

.border-primary {
	border: 1px solid !important;
	border-color: #2c3e50 !important;
}

.text-primary {
	color: #2c3e50 !important;
}


.fa-search-light:before {
	content: "\f002";
	color: #2c3e50;
}

.nav-link-main {
	color: #2c3e50 !important;
}

.CTAs-bottom {
	padding-top: 100px;
}

.btn-info-main {
	color: #2c3e50 !important;
	font-size: 20px;
}

.btn-info-main:hover {
	color: #2c3e50;
	background-color: transparent !important;
	font-size: 20px;
}

.btn-secondary {
	color: #2c3e50 !important;
}

.modal-lg {
	width: 750px;
	margin: auto;
}

.max-width {
	width: 100%;
}

.form-control {
	color: #2c3e50;
}

.form-control:focus {
	color: #2c3e50;
}

.form-control-sidebar {
	color: #fff !important;
}

.form-control-sidebar:invalid {
	color: #fff;
}

.btn-success {
	background-color: #45617c;
	border: none;
}

.btn-danger {
	background-color: #45617c73;
	border: none;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.btn-info {
	color: #6d7fcc;
	background-color: transparent;
	border-color: transparent;
}

.btn-info:hover {
	color: #fff;
	background-color: #7f94f3;
	border-color: #fff;
}

.card {
	min-height: 15vh;
	max-height: 30vh;
}

.card-body {
	min-height: 15vh
}

.projects-row {
	padding-bottom: 15px;
}

/* General */
body {
	font-family: Arial;
	margin: 0;
	padding: 0;
}

body,
wrapper {
	min-height: 100vh;
}



section {
	width: 100%;
	min-height: 95vh;
}

h1,
h1 a {
	color: #555555;
	text-decoration: none;
}

.bg-light {
	background-color: transparent !important;
}

.bg-primary {
	background-color: #fff !important;
}

.navbar-dark .navbar-nav .nav-link {
	color: #2e3131;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #6c7a89;
}

@media only screen and (min-width: 999px) {
	.social-create-links-register {
		padding-top: 25vh;
	}

	.social-create-links-login {
		padding-top: 15vh;
	}
}

/* CSS from https://github.com/Code-Institute-Solutions/blog_miniproject1/blob/master/static/css/custom.css*/
.navbar-form input,
.form-inline input {
	width: auto;
}

.story-img {
	margin-top: 25%;
	display: block;
}

.story-img img {
	width: 55px;
	height: 55px;
}

a,
a:hover {
	color: #223344;
	text-decoration: none;
}

.icon-bar {
	background-color: #fff;
}

.dropdown-menu {
	min-width: 250px;
}

.panel {
	border-color: transparent;
	border-radius: 0;
}

.thumbnail {
	margin-bottom: 8px;
}

.img-container {
	overflow: hidden;
	height: 170px;
}

.img-container img {
	min-width: 280px;
	min-height: 180px;
	max-width: 380px;
	max-height: 280px;
}

.img-circle {
	width: 100px;
	height: 100px;
}

.img-blogpost {
	height: 300px;
	width: auto;
}

.txt-container {
	overflow: hidden;
	height: 100px;
}

.panel .lead {
	overflow: hidden;
	height: 90px;
}

.label-float {
	margin: 0 auto;
	position: absolute;
	top: 0;
	z-index: 1;
	width: 100%;
	opacity: 0.9;
	padding: 6px;
	color: #fff;
}

.boldtext {
	font-weight: bold;
}

/* CSS from auth app */
.icon-bar {
	background-color: #fff;
}

.accountform {
	padding-top: 20px;
}

/* Footer */
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: rgb(255, 255, 255);
}

/* Bootstrap CSS */
/*
 * Social Buttons for Bootstrap
 *
 * Copyright 2013-2016 Panayiotis Lipiridis
 * Licensed under the MIT License
 *
 * https://github.com/lipis/bootstrap-social
 */

.btn-social {
	position: relative;
	padding-left: 44px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.btn-social>:first-child {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 32px;
	line-height: 34px;
	font-size: 1.6em;
	text-align: center;
	border-right: 1px solid rgba(0, 0, 0, 0.2)
}

.btn-social.btn-lg {
	padding-left: 61px
}

.btn-social.btn-lg>:first-child {
	line-height: 45px;
	width: 45px;
	font-size: 1.8em
}

.btn-social.btn-sm {
	padding-left: 38px
}

.btn-social.btn-sm>:first-child {
	line-height: 28px;
	width: 28px;
	font-size: 1.4em
}

.btn-social.btn-xs {
	padding-left: 30px
}

.btn-social.btn-xs>:first-child {
	line-height: 20px;
	width: 20px;
	font-size: 1.2em
}

.btn-social-icon {
	position: relative;
	padding-left: 44px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 34px;
	width: 34px;
	padding: 0
}

.btn-social-icon>:first-child {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 32px;
	line-height: 34px;
	font-size: 1.6em;
	text-align: center;
	border-right: 1px solid rgba(0, 0, 0, 0.2)
}

.btn-social-icon.btn-lg {
	padding-left: 61px
}

.btn-social-icon.btn-lg>:first-child {
	line-height: 45px;
	width: 45px;
	font-size: 1.8em
}

.btn-social-icon.btn-sm {
	padding-left: 38px
}

.btn-social-icon.btn-sm>:first-child {
	line-height: 28px;
	width: 28px;
	font-size: 1.4em
}

.btn-social-icon.btn-xs {
	padding-left: 30px
}

.btn-social-icon.btn-xs>:first-child {
	line-height: 20px;
	width: 20px;
	font-size: 1.2em
}

.btn-social-icon>:first-child {
	border: none;
	text-align: center;
	width: 100% !important
}

.btn-social-icon.btn-lg {
	height: 45px;
	width: 45px;
	padding-left: 0;
	padding-right: 0
}

.btn-social-icon.btn-sm {
	height: 30px;
	width: 30px;
	padding-left: 0;
	padding-right: 0
}

.btn-social-icon.btn-xs {
	height: 22px;
	width: 22px;
	padding-left: 0;
	padding-right: 0
}

.btn-adn {
	color: #fff;
	background-color: #d87a68;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-adn:focus,
.btn-adn.focus {
	color: #fff;
	background-color: #ce563f;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-adn:hover {
	color: #fff;
	background-color: #ce563f;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-adn:active,
.btn-adn.active,
.open>.dropdown-toggle.btn-adn {
	color: #fff;
	background-color: #ce563f;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-adn:active:hover,
.btn-adn.active:hover,
.open>.dropdown-toggle.btn-adn:hover,
.btn-adn:active:focus,
.btn-adn.active:focus,
.open>.dropdown-toggle.btn-adn:focus,
.btn-adn:active.focus,
.btn-adn.active.focus,
.open>.dropdown-toggle.btn-adn.focus {
	color: #fff;
	background-color: #b94630;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-adn:active,
.btn-adn.active,
.open>.dropdown-toggle.btn-adn {
	background-image: none
}

.btn-adn.disabled:hover,
.btn-adn[disabled]:hover,
fieldset[disabled] .btn-adn:hover,
.btn-adn.disabled:focus,
.btn-adn[disabled]:focus,
fieldset[disabled] .btn-adn:focus,
.btn-adn.disabled.focus,
.btn-adn[disabled].focus,
fieldset[disabled] .btn-adn.focus {
	background-color: #d87a68;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-adn .badge {
	color: #d87a68;
	background-color: #fff
}


/* Google */
.btn-google {
	color: #fff;
	background-color: #dd4b39;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:focus,
.btn-google.focus {
	color: #fff;
	background-color: #c23321;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:hover {
	color: #fff;
	background-color: #c23321;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:active,
.btn-google.active,
.open>.dropdown-toggle.btn-google {
	color: #fff;
	background-color: #c23321;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:active:hover,
.btn-google.active:hover,
.open>.dropdown-toggle.btn-google:hover,
.btn-google:active:focus,
.btn-google.active:focus,
.open>.dropdown-toggle.btn-google:focus,
.btn-google:active.focus,
.btn-google.active.focus,
.open>.dropdown-toggle.btn-google.focus {
	color: #fff;
	background-color: #a32b1c;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:active,
.btn-google.active,
.open>.dropdown-toggle.btn-google {
	background-image: none
}

.btn-google.disabled:hover,
.btn-google[disabled]:hover,
fieldset[disabled] .btn-google:hover,
.btn-google.disabled:focus,
.btn-google[disabled]:focus,
fieldset[disabled] .btn-google:focus,
.btn-google.disabled.focus,
.btn-google[disabled].focus,
fieldset[disabled] .btn-google.focus {
	background-color: #dd4b39;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-google .badge {
	color: #dd4b39;
	background-color: #fff
}

/* Twitter */
.btn-twitter {
	color: #fff;
	background-color: #55acee;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-twitter:focus,
.btn-twitter.focus {
	color: #fff;
	background-color: #2795e9;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-twitter:hover {
	color: #fff;
	background-color: #2795e9;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-twitter:active,
.btn-twitter.active,
.open>.dropdown-toggle.btn-twitter {
	color: #fff;
	background-color: #2795e9;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-twitter:active:hover,
.btn-twitter.active:hover,
.open>.dropdown-toggle.btn-twitter:hover,
.btn-twitter:active:focus,
.btn-twitter.active:focus,
.open>.dropdown-toggle.btn-twitter:focus,
.btn-twitter:active.focus,
.btn-twitter.active.focus,
.open>.dropdown-toggle.btn-twitter.focus {
	color: #fff;
	background-color: #1583d7;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-twitter:active,
.btn-twitter.active,
.open>.dropdown-toggle.btn-twitter {
	background-image: none
}

.btn-twitter.disabled:hover,
.btn-twitter[disabled]:hover,
fieldset[disabled] .btn-twitter:hover,
.btn-twitter.disabled:focus,
.btn-twitter[disabled]:focus,
fieldset[disabled] .btn-twitter:focus,
.btn-twitter.disabled.focus,
.btn-twitter[disabled].focus,
fieldset[disabled] .btn-twitter.focus {
	background-color: #55acee;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-twitter .badge {
	color: #55acee;
	background-color: #fff
}

/* GitHub */
.btn-github {
	color: #fff;
	background-color: #444;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:focus,
.btn-github.focus {
	color: #fff;
	background-color: #2b2b2b;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:hover {
	color: #fff;
	background-color: #2b2b2b;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:active,
.btn-github.active,
.open>.dropdown-toggle.btn-github {
	color: #fff;
	background-color: #2b2b2b;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:active:hover,
.btn-github.active:hover,
.open>.dropdown-toggle.btn-github:hover,
.btn-github:active:focus,
.btn-github.active:focus,
.open>.dropdown-toggle.btn-github:focus,
.btn-github:active.focus,
.btn-github.active.focus,
.open>.dropdown-toggle.btn-github.focus {
	color: #fff;
	background-color: #191919;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:active,
.btn-github.active,
.open>.dropdown-toggle.btn-github {
	background-image: none
}

.btn-github.disabled:hover,
.btn-github[disabled]:hover,
fieldset[disabled] .btn-github:hover,
.btn-github.disabled:focus,
.btn-github[disabled]:focus,
fieldset[disabled] .btn-github:focus,
.btn-github.disabled.focus,
.btn-github[disabled].focus,
fieldset[disabled] .btn-github.focus {
	background-color: #444;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-github .badge {
	color: #444;
	background-color: #fff
}

/* Bootstrap CSS END */

/* Products/pricing table */
html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.background {
  padding: 0 25px 25px;
  position: relative;
  width: 100%;
}

.background::after {
  content: '';
  background: #60a9ff;
  background: -moz-linear-gradient(top, #60a9ff 0%, #4394f4 100%);
  background: -webkit-linear-gradient(top, #60a9ff 0%,#4394f4 100%);
  background: linear-gradient(to bottom, #60a9ff 0%,#4394f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60a9ff', endColorstr='#4394f4',GradientType=0 );
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media (min-width: 900px) {
  .background {
    padding: 0 0 25px;
  }
}

.container-fluid-price {
  margin: 0 auto;
  padding: 0px;
  max-width: 600px;
  width: 100%;
}

.panel {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 25px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.pricing-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .pricing-table {
    flex-direction: row;
  }
}

.pricing-table * {
  text-align: center;
  text-transform: uppercase;
}

.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
  padding: 25px;
}

.pricing-plan:last-child {
  border-bottom: none;
}

@media (min-width: 900px) {
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    flex-basis: 100%;
    padding: 25px 50px;
  }

  .pricing-plan:last-child {
    border-right: none;
  }
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 25%;
}

.pricing-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  color: #016FF9;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 50px 0 25px;
}

.pricing-features-item {
  border-top: 1px solid #e1f1ff;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
  color: #016FF9;
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #348EFE;
  display: inline-block;
  margin: 25px 0;
  padding: 15px 35px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #e1f1ff;
}

.pricing-button.is-featured {
  background-color: #48aaff;
  color: #fff;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
  background-color: #269aff;
}