<!-- Base html will be loaded -->
{% extends 'base.html' %}
<!-- Anything placed in this block will load in ''block content' tags n base.html -->
{% block content %}
<div class="container">
    {% if projects|length > 0 %}
    <h3>Search results: </h3>
    <hr>
    <div class="container-fluid">
        <div class="row">
            {% for project in projects_in_category %}
            <div class="offsset-lg-1 col-lg-4 col-md-6 col-sm-12">
                <a href="{% url 'project_details' project.id %}">
                    <div class="card hvr-shrink" style="margin-bottom: 10px;">
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><i class="fa fa-circle-thin" style="color: {{ project.color }};"></i> {{ project.title | truncatechars:20}}</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="col-sm-12 projects-row">
        <div class=" jumbotron jumbotron-fluid">
            <div class="offset-sm-2 col-sm-8 container">
                <h1 class="display-4">You haven't created any notes, yet!</h1>
                <p class="lead alert alert-primary alignright"><a href="{%url 'new_project'%}"> Create one now <i class="fa fa-arrow-right"></i></a></p>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}