<!-- Base html will be loaded -->

<!--
  Anything placed in this block will load in ''block content' tags n base.html
-->
{% block javascript %}
<script>
  // Back to projects
  $(".iD").click(function () {
    var dataHref = $(this).attr("data-href");
    console.log("clicked", $(this).attr("data-href"));
    $("#ajax-content").load(dataHref);
    //$('#third').trigger('click');
  });
</script>
{% endblock %} 
{% block content %}
<div id="ajax-content">
    <div class="row">
        {% for project in projects %}
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">
                        {{ project.content | truncatewords:5 | safe}}
                    </p>
                    <a id="read_project{{ project.id }}" data-href="{% url 'project_details' project.id %}" class="iD btn btn-primary"
                        style="float:right">Read
                        More ...</a>
                </div>
                <div class="card-footer text-muted">
                    {{ project.published_date }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}