<!-- Base html will be loaded -->
<!--
  Anything placed in this block will load in 'block content' tags n base.html
-->
{% block javascript %}
<script>
    // Back to projects
    $(".iDProjects").click(function () {
        var dataHref = $(this).attr("data-href");
        console.log("clicked read more", $(this).attr("data-href"));
        $("#ajax-content").load(dataHref);
        //$('#third').trigger('click');
    });
</script>
{% endblock %}
{% block content %}
<div id="ajax-content">
    <div class="row">
        {% if projects|length > 0 %}
        {% for project in projects %}
        <div class="col-sm-4 projects-row">
            <div class="card">
                <div class="card-body hvr-shrink">
                    <h5><a href="#" id="read_project{{ project.id }}" data-href="{% url 'project_details' project.id %}"
                            class="iDProjects">{{ project.title }}</h5>
                    <p class="card-text">
                        {{ project.content | truncatewords:15 | safe}}
                    </p>
                    </a>
                </div>
                <div class="card-footer text-muted">
                    <!-- <span class="alignright"><a id="read_project{{ project.id }}" data-href="{% url 'project_details' project.id %}"
                                class="iDProjects btn btn-success hvr-shrink" style="float:right"><i class="fa fa-arrow-right"></i></a></span> -->
                    <!-- <span class="alignleft">
                            <a data-href="{% url 'delete_project' project.id %}" class="iDProjects btn btn-danger hvr-shrink"
                                style="float:right"><i class="fa fa-trash"></i></a>
                        </span> -->
                    <span class="alignright">
                        {{ project.published_date }}
                    </span>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-sm-12 projects-row">
            <div class=" jumbotron jumbotron-fluid">
                <div class="offset-sm-3 col-sm-6 container">
                    <h1 class="display-4">You haven't created any notes, yet!</h1>
                    <p class="lead alert alert-primary alignright"><a href="{%url 'new_project'%}"> Create one now <i class="fa fa-arrow-right"></i></a></p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}