<!-- Base html will be loaded -->
{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="offset-sm-1 col-sm-10">
        <h4>{{ project.title }}
            <span class="alignright">
                <a id="project-edit" href="{% url 'edit_project' project.id %}" class="iD"><span class="badge badge-pill badge-primary note-actions-edit"><i
                            class="fa fa-pencil"></i></span></a>
                <a href="#" id="delete-note"><span class="badge badge-pill badge-warning note-actions-trash"><i class="fa fa-trash"></i></span></a>
            </span></h4>
        <div>
            <span class="alignleft"><a href="{% url 'index' %}"><span class="badge badge-pill badge-success note-details"><i
                            class="fa fa-arrow-left"></i> back</a>
            </span>
            <span class="alignright d-none d-lg-block">
                <span class="badge badge-pill badge-warning note-details"><i class="fa fa-book"></i> {{
                    project.category.name}}</span>
                {% if project.views %}
                <span class="badge badge-pill badge-info note-details"><i class="fa fa-eye"></i> {{ project.views }}</span>
                {% endif %}
                <span class="badge badge-pill badge-primary note-details"><i class="fa fa-clock-o"></i> {{
                    project.published_date}}</span>
            </span>
        </div>
    </div>
    <div class="offset-sm-1 col-sm-10">
        <hr>
        <p>{{ project.content | safe}}</p>
        <hr>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="sharableModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Share your note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Copy and send the url to your friends:</p>
                <!-- <p>Side menu: <span class="badge badge-light" style="float:right">ctrl + alt + /</span></p> -->
                <div class="alert alert-success" role="alert">
                    <p id="modalUrl" class="max-width">https://airdnc.daveodea.com/projects/{{ project.uuid }}</p>
                </div>
            </div>
            <!-- <div class="modal-footer">
            <button class="btn btn-success" data-clipboard-target="#modalUrl"><i class="fa fa-copy"></i> Copy</button>
        </div> -->
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<!-- SweetAlert Delete -->
<script>
    $('#delete-note').click(function (event) {
        var url = "{% url 'delete_project' project.id %}"
        Swal.fire({
            title: 'Are you sure?',
            text: "You can't undo this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#009688',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                Swal.fire(
                    $(window.location.href = "{% url 'delete_project' project.id %}"),
                    'Deleted!',
                    'Your file has been deleted.',
                    'success',
                )
            }
        })
    })
</script>
{% endblock %}