    {% extends "base.html" %}
<script>
    $("#login-link").click(function (event) {
        console.log('load project details fired!');
        var target = $(this).attr("data-href");
        $("#ajax-content").load(target)
    });
</script>
{% load bootstrap_tags %}
{% block content %}
<div class="row">
    <div class="col-lg-4 offset-lg-1">
        <form method="post" action="{% url 'login' %}?next={{ next }}" class="accountform">
            <fieldset class="form-group">
                <legend>Login to your account</legend>
                {% csrf_token %}
                {{ user_form | as_bootstrap }}
                <p>Forgot password? <a href="{% url 'password_reset' %}"><b>Reset</b></a></p>
                <button id="login-link" type="submit" class="btn btn-outline-primary">Login</button>
                <a href="{% url 'register' %}" class="btn btn-outline-success" style="float: right;">Register</a>
            </fieldset>
        </form>
    </div>
    <div class="col-lg-4 offset-lg-1 social-create-links-login d-lg">        
        <a href="{% url 'social:begin' 'github' %}" class="btn btn-block btn-social btn-github">
            <span class="fa fa-github"></span>
            GitHub
        </a>
        <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-block btn-social btn-twitter">
            <span class="fa fa-github"></span>
            Twitter
        </a>
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-block btn-social btn-google">
            <span class="fa fa-google"></span>
            Google
        </a>
    </div>
</div>
{% endblock %}