{% block content %}
<div class="offset-lg-2 col-lg-8">
    <div class="row">
        <h2>Hi, {{ user.first_name }}!</h2>
    </div>
    <hr>
    <div class="">
        <p><i class="fa fa-user fa-fw"></i>Username: {{ user }}</p>
        <p><i class="fa fa-envelope fa-fw"></i> Email: {{ user.email }}</p>
        <p><i class="fa fa-clock-o fa-fw"></i>Joined: {{ user.date_joined }}</p>
    </div>
    <div class="row">
        <a class="btn btn-success" href="{% url 'logout' %}">Logout</a>
    </div>
</div>
{% endblock %}