{% extends 'base.html' %}
{% block content %}
<div class="offset-lg-2 col-lg-8">
    <div class="row">
        <div class="col-lg-12">
            <span class="alignleft">
                <h2>Hi, {{ user.first_name }}!</h2>
            </span>
            <span class="alignright">
                {% if user.premium %}
                <button type="button" class="btn btn-outline-success" data-toggle="tooltip" data-placement="left" title="You are on the premium plan!">
                    Premium
                </button>
                {% else %}
                <button type="button" class="btn btn-outline-info" data-toggle="tooltip" data-placement="left" title="You are on the free plan!">
                    Free
                </button>
                {% endif %}
            </span>
        </div>
    </div>
    <hr>
    <div class="">
        <p><i class="fa fa-user fa-fw"></i>Username: {{ user }}</p>
        <p><i class="fa fa-envelope fa-fw"></i> Email: {{ user.email }}</p>
        <p><i class="fa fa-clock-o fa-fw"></i>Joined: {{ user.date_joined }}</p>
    </div>
    <div class="row">
        <a class="btn btn-success" href="{% url 'logout' %}">Logout</a>
    </div>
</div>
{% endblock %}