{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
<div class="offset-lg-1 col-lg-10">
  <div class="row">
    <div class="offset-lg-3 col-lg-6">
      <span class="alignleft">
        <h2>Edit profile</h2>
      </span>
      <span class="alignright">
        {% if user.premium %}
        <button type="button" class="btn btn-outline-success" data-toggle="tooltip" data-placement="left" title="You are on the premium plan!">
          Premium
        </button>
        {% else %}
        <button type="button" class="btn btn-outline-info" data-toggle="tooltip" data-placement="left" title="You are on the free plan!">
          Free
        </button>
        {% endif %}
      </span>
    </div>
    <hr>
  </div>
  <div class="offset-lg-4 col-lg-4">
    <div class="row">
      <form method="post">
        {% csrf_token %}
        {{ user_form | as_bootstrap }}
        {{ profile_form | as_bootstrap }}
        <div>
          <span class="alignleft">
            <button class="btn btn-success" type="submit">Update</button>
          </span>
        </div>
        <div>
          <span class="alignright">
            <button class="btn btn-warning" href="{% url 'logout' %}">Logout</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}