{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
<div class="col-lg-12">
  <div class="row offset-lg-3 col-lg-6">
    <div class="offset-lg-2 col-lg-6">
      <span class="alignleft">
        <h4>Edit profile</h4>
      </span>
      <span class="alignright">
        {% if profile %}
        <a role="button" class="btn btn-outline-success" data-toggle="tooltip" data-placement="left" title="You are on the premium plan!">
          Premium
        </a>
        {% else %}
        <a role="button" class="btn btn-outline-info" href="{% url 'products:products' %}" data-toggle="tooltip" data-placement="left" title="You are on the free plan!">
          <i class="fa fa-star-o"></i> Upgrade
        </a>
        {% endif %}
      </span>
    </div>
    <hr>
    <div class="offset-lg-3 col-lg-6">
      <div class="row">
        <form method="post">
          {% csrf_token %}
          {{ user_form | as_bootstrap }}
          {{ profile_form | as_bootstrap }}
          <div>
            <span class="alignleft">
              <button class="btn btn-success" type="submit">Update</button>
            </span>
          </div>
          <div>
            <span class="alignright">
              <button class="btn btn-warning" href="{% url 'logout' %}">Logout</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}