{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Compiled and minified MaterializeCSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">    
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <title>AirDnC</title>
</head>

<body>
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <!-- <a class="navbar-brand" href="{% url 'get_projects' %}"><img src="/media/img/logo.png"></a> -->
                <a href="{% url 'get_projects' %}" class="brand-logo">AirDnC</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{% url 'new_project' %}">Sass</a></li>                
                </ul>
            </div>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="{% url 'new_project' %}">Sass</a></li>        
    </ul>

    <section class="wave"></section>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <!-- Project entries -->                
                    {% block content %}
                    {% endblock %}
                    <!-- END -->
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <!-- <footer>
        <div class="container">
            <p>Made by Dave O'Dea</p>
        </div>
    </footer> -->
</body>
<!-- Compiled and minified MaterializeCSS JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
    });
</script>

</html>