{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <script src="https://use.fontawesome.com/d46ec8e634.js"></script>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <title>AirDnC</title>
</head>

<body>

    <!-- Bootstrap NavBar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="/media/img/images.png" width=30 height=30 class="d-inline-block align-top" alt="">
            <span class="menu-collapsed d-none">AirDnC</span>
        </a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li><a href="{% url 'get_projects' %}" class="nav-link"><i class="fa fa-book" aria-hidden="true"></i>
                        Notes</a></li>
                <li><a href="#" class="nav-link"><i class="fa fa-plus" aria-hidden="true"></i>
                        New Note</a></li>
                <li><a href="{% url 'logout' %}" class="nav-link"><i class="fa fa-sign-out" aria-hidden="true"></i>
                        Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}" class="nav-link"><i class="fa fa-sign-in" aria-hidden="true"></i>
                        Login</a></li>
                <li><a href="{% url 'register' %}" class="nav-link"><i class="fa fa-user-plus" aria-hidden="true"></i>
                        Register</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}" class="nav-link"><i class="fa fa-user" aria-hidden="true"></i>
                        Hi, {{ user }}</a></li>
                {% endif %}

                <!-- This menu is hidden in bigger devices with d-sm-none. 
                 The sidebar isn't proper for smaller screens imo, so this dropdown menu can keep all the useful sidebar itens exclusively for smaller screens  -->
                <li class="nav-item dropdown d-sm-block d-md-none">
                    <a class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="smallerscreenmenu">
                        <a class="dropdown-item" href="#">Dashboard</a>
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Tasks</a>
                        <a class="dropdown-item" href="#">Etc ...</a>
                    </div>
                </li><!-- Smaller devices menu END -->

            </ul>
        </div>
    </nav><!-- NavBar END -->


    <!-- Sidebar -->
    {% if user.is_authenticated %}
    <div class="row" id="body-row">
        <div id="sidebar-container" data-toggle="sidebar-colapse" class="sidebar-collapsed d-none d-md-block">
            <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
            <!-- Bootstrap List Group -->
            <ul class="list-group">
                <!-- Separator with title -->
                <!-- <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed d-none">
                        <small>MAIN MENU</small>
                    </li> -->
                <!-- /END Separator -->
                <!-- Menu with submenu -->
                <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-dashboard fa-fw mr-3"></span>
                        <span class="menu-collapsed d-none">Dashboard</span>
                        <span class="submenu-icon d-none ml-auto"></span>
                    </div>
                </a>
                <!-- Submenu content -->
                <div id='submenu1' class="collapse sidebar-submenu d-none">
                    {% for project in projects %}
                    <a id="project-details" href="#" data-href="{% url 'project_details' project.id %}" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed d-none">{{ project.title | truncatewords:2 | safe }}</span>
                    </a>
                    {% endfor %}
                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed d-none">Reports</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed d-none">Tables</span>
                    </a>
                </div>
                <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-user fa-fw mr-3"></span>
                        <span class="menu-collapsed d-none">Profile</span>
                        <span class="submenu-icon d-none ml-auto"></span>
                    </div>
                </a>
                <!-- Submenu content -->
                <div id='submenu2' class="collapse sidebar-submenu d-none">
                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed d-none">Settings</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed d-none">Password</span>
                    </a>
                </div>
                <a href="#" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-tasks fa-fw mr-3"></span>
                        <span class="menu-collapsed d-none">Tasks</span>
                    </div>
                </a>
                <!-- Separator with title -->
                <!-- <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed d-none">
                    <small>OPTIONS</small>
                </li> -->
                <!-- /END Separator -->
                <a href="#" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-calendar fa-fw mr-3"></span>
                        <span class="menu-collapsed d-none">Calendar</span>
                    </div>
                </a>
                <a href="#" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-envelope-o fa-fw mr-3"></span>
                        <span class="menu-collapsed d-none">Messages <span class="badge badge-pill badge-primary ml-2">5</span></span>
                    </div>
                </a>
                <!-- Separator without title -->
                <!-- <li class="list-group-item sidebar-separator menu-collapsed d-none"></li> -->
                <!-- /END Separator -->
                <!-- <a href="#" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-question fa-fw mr-3"></span>
                        <span class="menu-collapsed d-none">Help</span>
                    </div>
                </a>
                <a href="#" class="bg-dark list-group-item list-group-item-action d-flex align-items-center">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span id="collapse-icon" class="fa fa-2x mr-3"></span>
                        <span id="collapse-text" class="menu-collapsed d-none"></span>
                    </div>
                </a> -->
                <!-- Logo -->
                <!-- <li class="list-group-item logo-separator d-flex justify-content-center">
                    <img src='/media/images.png' width="30" height="30" />
                </li> -->
            </ul><!-- List Group END-->
        </div><!-- sidebar-container END -->
        {% endif %}

        <!-- MAIN -->
        <div class="col">
            <div class="col">
                <div class="row">
                    <div class="col-md-12">

                        <!-- Project entries -->
                        {% block content %}
                        {% endblock %}
                        <!-- END -->

                    </div>
                </div>
            </div>
        </div><!-- Main Col END -->
    </div><!-- body-row END -->
    {% block javascript %}
    {% endblock %}

    <!-- <footer class="footer">
        <div class="container" style="text-align:center">
            <span class="text-muted" >Made by <a href="https://daveodea.com">Dave O'Dea</a></span>
        </div>
    </footer> -->
</body>


<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>

<!-- Custom scripts -->
<script>
    $("#project-details").click(function (event) {
        console.log('load project details fired!');
        var target = $(this).attr("data-href");
        $("#ajax-content").load(target)
    });
</script>

<!-- SideNav -->
<script>
    // Hide submenus
    $('#body-row .collapse').collapse('hide');

    // Collapse/Expand icon
    $('#collapse-icon').addClass('fa-angle-double-left');

    // Collapse click
    $('[data-toggle=sidebar-colapse]').hover(function () {
        SidebarCollapse();
    });


    function SidebarCollapse() {
        $('.menu-collapsed').toggleClass('d-none');
        $('.sidebar-submenu').toggleClass('d-none');
        $('.submenu-icon').toggleClass('d-none');
        $('#sidebar-container').toggleClass('sidebar-collapsed sidebar-expanded');

        // Treating d-flex/d-none on separators with title
        var SeparatorTitle = $('.sidebar-separator-title');
        if (SeparatorTitle.hasClass('d-flex')) {
            SeparatorTitle.removeClass('d-flex');
        } else {
            SeparatorTitle.addClass('d-flex');
        }

        // Collapse/Expand icon
        $('#collapse-icon').toggleClass('fa-angle-double-left fa-angle-double-right');
    }
</script>


<!-- Custom Style -->
<style>
    .cke_top {
        /* border-bottom: 1px solid #d1d1d1; */
        /* background: #f8f8f8; */
        padding: 6px 8px 2px;
        white-space: normal;
    }
</style>


<style>
    #body-row {
        margin-left: 0;
        margin-right: 0;
    }

    #sidebar-container {
        min-height: 100vh;
        background-color: #333;
        padding: 0;
    }

    /* Sidebar sizes when expanded and expanded */
    .sidebar-expanded {
        width: 230px;
    }

    .sidebar-collapsed {
        width: 60px;
    }

    /* Menu item*/
    #sidebar-container .list-group a {
        height: 50px;
        color: white;
    }

    /* Submenu item*/
    #sidebar-container .list-group .sidebar-submenu a {
        height: 45px;
        padding-left: 30px;
    }

    .sidebar-submenu {
        font-size: 0.9rem;
    }

    /* Separators */
    .sidebar-separator-title {
        background-color: #333;
        height: 35px;
    }

    .sidebar-separator {
        background-color: #333;
        height: 25px;
    }

    .logo-separator {
        background-color: #333;
        height: 60px;
    }

    /* Closed submenu icon */
    #sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
        content: " \f0d7";
        font-family: FontAwesome;
        display: inline;
        text-align: right;
        padding-left: 10px;
    }

    /* Opened submenu icon */
    #sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
        content: " \f0da";
        font-family: FontAwesome;
        display: inline;
        text-align: right;
        padding-left: 10px;
    }
</style>

</html>