/* Custom CSS */

/* General */
body {
	font-family: Arial;
	margin: 0;
	padding: 0;
}
body, wrapper {
	min-height:100vh;
 }
 


section {
	width: 100%;
	min-height: 95vh;
}

h1,
h1 a {
	color: #555555;
	text-decoration: none;
}
.bg-light {
    background-color: transparent!important;
}

@media only screen and (min-width: 999px) {	
	.social-create-links-register{
		padding-top: 25vh;
	}
	.social-create-links-login{
		padding-top: 15vh;
	}
}

/* CSS from https://github.com/Code-Institute-Solutions/blog_miniproject1/blob/master/static/css/custom.css*/
.navbar-form input,
.form-inline input {
	width: auto;
}

.story-img {
	margin-top: 25%;
	display: block;
}

.story-img img {
	width: 55px;
	height: 55px;
}

a,
a:hover {
	color: #223344;
	text-decoration: none;
}

.icon-bar {
	background-color: #fff;
}

.dropdown-menu {
	min-width: 250px;
}

.panel {
	border-color: transparent;
	border-radius: 0;
}

.thumbnail {
	margin-bottom: 8px;
}

.img-container {
	overflow: hidden;
	height: 170px;
}

.img-container img {
	min-width: 280px;
	min-height: 180px;
	max-width: 380px;
	max-height: 280px;
}

.img-circle {
	width: 100px;
	height: 100px;
}

.img-blogpost {
	height: 300px;
	width: auto;
}

.txt-container {
	overflow: hidden;
	height: 100px;
}

.panel .lead {
	overflow: hidden;
	height: 90px;
}

.label-float {
	margin: 0 auto;
	position: absolute;
	top: 0;
	z-index: 1;
	width: 100%;
	opacity: 0.9;
	padding: 6px;
	color: #fff;
}

.boldtext {
	font-weight: bold;
}

/* CSS from auth app */
.icon-bar {
	background-color: #fff;
}

.accountform {
	padding-top: 20px;
}

/* Footer */
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: rgb(255, 255, 255);
  }

/* Bootstrap CSS */
/*
 * Social Buttons for Bootstrap
 *
 * Copyright 2013-2016 Panayiotis Lipiridis
 * Licensed under the MIT License
 *
 * https://github.com/lipis/bootstrap-social
 */

.btn-social {
	position: relative;
	padding-left: 44px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.btn-social>:first-child {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 32px;
	line-height: 34px;
	font-size: 1.6em;
	text-align: center;
	border-right: 1px solid rgba(0, 0, 0, 0.2)
}

.btn-social.btn-lg {
	padding-left: 61px
}

.btn-social.btn-lg>:first-child {
	line-height: 45px;
	width: 45px;
	font-size: 1.8em
}

.btn-social.btn-sm {
	padding-left: 38px
}

.btn-social.btn-sm>:first-child {
	line-height: 28px;
	width: 28px;
	font-size: 1.4em
}

.btn-social.btn-xs {
	padding-left: 30px
}

.btn-social.btn-xs>:first-child {
	line-height: 20px;
	width: 20px;
	font-size: 1.2em
}

.btn-social-icon {
	position: relative;
	padding-left: 44px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 34px;
	width: 34px;
	padding: 0
}

.btn-social-icon>:first-child {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 32px;
	line-height: 34px;
	font-size: 1.6em;
	text-align: center;
	border-right: 1px solid rgba(0, 0, 0, 0.2)
}

.btn-social-icon.btn-lg {
	padding-left: 61px
}

.btn-social-icon.btn-lg>:first-child {
	line-height: 45px;
	width: 45px;
	font-size: 1.8em
}

.btn-social-icon.btn-sm {
	padding-left: 38px
}

.btn-social-icon.btn-sm>:first-child {
	line-height: 28px;
	width: 28px;
	font-size: 1.4em
}

.btn-social-icon.btn-xs {
	padding-left: 30px
}

.btn-social-icon.btn-xs>:first-child {
	line-height: 20px;
	width: 20px;
	font-size: 1.2em
}

.btn-social-icon>:first-child {
	border: none;
	text-align: center;
	width: 100% !important
}

.btn-social-icon.btn-lg {
	height: 45px;
	width: 45px;
	padding-left: 0;
	padding-right: 0
}

.btn-social-icon.btn-sm {
	height: 30px;
	width: 30px;
	padding-left: 0;
	padding-right: 0
}

.btn-social-icon.btn-xs {
	height: 22px;
	width: 22px;
	padding-left: 0;
	padding-right: 0
}

.btn-adn {
	color: #fff;
	background-color: #d87a68;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-adn:focus,
.btn-adn.focus {
	color: #fff;
	background-color: #ce563f;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-adn:hover {
	color: #fff;
	background-color: #ce563f;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-adn:active,
.btn-adn.active,
.open>.dropdown-toggle.btn-adn {
	color: #fff;
	background-color: #ce563f;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-adn:active:hover,
.btn-adn.active:hover,
.open>.dropdown-toggle.btn-adn:hover,
.btn-adn:active:focus,
.btn-adn.active:focus,
.open>.dropdown-toggle.btn-adn:focus,
.btn-adn:active.focus,
.btn-adn.active.focus,
.open>.dropdown-toggle.btn-adn.focus {
	color: #fff;
	background-color: #b94630;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-adn:active,
.btn-adn.active,
.open>.dropdown-toggle.btn-adn {
	background-image: none
}

.btn-adn.disabled:hover,
.btn-adn[disabled]:hover,
fieldset[disabled] .btn-adn:hover,
.btn-adn.disabled:focus,
.btn-adn[disabled]:focus,
fieldset[disabled] .btn-adn:focus,
.btn-adn.disabled.focus,
.btn-adn[disabled].focus,
fieldset[disabled] .btn-adn.focus {
	background-color: #d87a68;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-adn .badge {
	color: #d87a68;
	background-color: #fff
}

.btn-bitbucket {
	color: #fff;
	background-color: #205081;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-bitbucket:focus,
.btn-bitbucket.focus {
	color: #fff;
	background-color: #163758;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-bitbucket:hover {
	color: #fff;
	background-color: #163758;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-bitbucket:active,
.btn-bitbucket.active,
.open>.dropdown-toggle.btn-bitbucket {
	color: #fff;
	background-color: #163758;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-bitbucket:active:hover,
.btn-bitbucket.active:hover,
.open>.dropdown-toggle.btn-bitbucket:hover,
.btn-bitbucket:active:focus,
.btn-bitbucket.active:focus,
.open>.dropdown-toggle.btn-bitbucket:focus,
.btn-bitbucket:active.focus,
.btn-bitbucket.active.focus,
.open>.dropdown-toggle.btn-bitbucket.focus {
	color: #fff;
	background-color: #0f253c;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-bitbucket:active,
.btn-bitbucket.active,
.open>.dropdown-toggle.btn-bitbucket {
	background-image: none
}

.btn-bitbucket.disabled:hover,
.btn-bitbucket[disabled]:hover,
fieldset[disabled] .btn-bitbucket:hover,
.btn-bitbucket.disabled:focus,
.btn-bitbucket[disabled]:focus,
fieldset[disabled] .btn-bitbucket:focus,
.btn-bitbucket.disabled.focus,
.btn-bitbucket[disabled].focus,
fieldset[disabled] .btn-bitbucket.focus {
	background-color: #205081;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-bitbucket .badge {
	color: #205081;
	background-color: #fff
}

.btn-dropbox {
	color: #fff;
	background-color: #1087dd;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-dropbox:focus,
.btn-dropbox.focus {
	color: #fff;
	background-color: #0d6aad;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-dropbox:hover {
	color: #fff;
	background-color: #0d6aad;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-dropbox:active,
.btn-dropbox.active,
.open>.dropdown-toggle.btn-dropbox {
	color: #fff;
	background-color: #0d6aad;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-dropbox:active:hover,
.btn-dropbox.active:hover,
.open>.dropdown-toggle.btn-dropbox:hover,
.btn-dropbox:active:focus,
.btn-dropbox.active:focus,
.open>.dropdown-toggle.btn-dropbox:focus,
.btn-dropbox:active.focus,
.btn-dropbox.active.focus,
.open>.dropdown-toggle.btn-dropbox.focus {
	color: #fff;
	background-color: #0a568c;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-dropbox:active,
.btn-dropbox.active,
.open>.dropdown-toggle.btn-dropbox {
	background-image: none
}

.btn-dropbox.disabled:hover,
.btn-dropbox[disabled]:hover,
fieldset[disabled] .btn-dropbox:hover,
.btn-dropbox.disabled:focus,
.btn-dropbox[disabled]:focus,
fieldset[disabled] .btn-dropbox:focus,
.btn-dropbox.disabled.focus,
.btn-dropbox[disabled].focus,
fieldset[disabled] .btn-dropbox.focus {
	background-color: #1087dd;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-dropbox .badge {
	color: #1087dd;
	background-color: #fff
}

.btn-facebook {
	color: #fff;
	background-color: #3b5998;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook:focus,
.btn-facebook.focus {
	color: #fff;
	background-color: #2d4373;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook:hover {
	color: #fff;
	background-color: #2d4373;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook:active,
.btn-facebook.active,
.open>.dropdown-toggle.btn-facebook {
	color: #fff;
	background-color: #2d4373;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook:active:hover,
.btn-facebook.active:hover,
.open>.dropdown-toggle.btn-facebook:hover,
.btn-facebook:active:focus,
.btn-facebook.active:focus,
.open>.dropdown-toggle.btn-facebook:focus,
.btn-facebook:active.focus,
.btn-facebook.active.focus,
.open>.dropdown-toggle.btn-facebook.focus {
	color: #fff;
	background-color: #23345a;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook:active,
.btn-facebook.active,
.open>.dropdown-toggle.btn-facebook {
	background-image: none
}

.btn-facebook.disabled:hover,
.btn-facebook[disabled]:hover,
fieldset[disabled] .btn-facebook:hover,
.btn-facebook.disabled:focus,
.btn-facebook[disabled]:focus,
fieldset[disabled] .btn-facebook:focus,
.btn-facebook.disabled.focus,
.btn-facebook[disabled].focus,
fieldset[disabled] .btn-facebook.focus {
	background-color: #3b5998;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook .badge {
	color: #3b5998;
	background-color: #fff
}

.btn-flickr {
	color: #fff;
	background-color: #ff0084;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-flickr:focus,
.btn-flickr.focus {
	color: #fff;
	background-color: #cc006a;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-flickr:hover {
	color: #fff;
	background-color: #cc006a;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-flickr:active,
.btn-flickr.active,
.open>.dropdown-toggle.btn-flickr {
	color: #fff;
	background-color: #cc006a;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-flickr:active:hover,
.btn-flickr.active:hover,
.open>.dropdown-toggle.btn-flickr:hover,
.btn-flickr:active:focus,
.btn-flickr.active:focus,
.open>.dropdown-toggle.btn-flickr:focus,
.btn-flickr:active.focus,
.btn-flickr.active.focus,
.open>.dropdown-toggle.btn-flickr.focus {
	color: #fff;
	background-color: #a80057;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-flickr:active,
.btn-flickr.active,
.open>.dropdown-toggle.btn-flickr {
	background-image: none
}

.btn-flickr.disabled:hover,
.btn-flickr[disabled]:hover,
fieldset[disabled] .btn-flickr:hover,
.btn-flickr.disabled:focus,
.btn-flickr[disabled]:focus,
fieldset[disabled] .btn-flickr:focus,
.btn-flickr.disabled.focus,
.btn-flickr[disabled].focus,
fieldset[disabled] .btn-flickr.focus {
	background-color: #ff0084;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-flickr .badge {
	color: #ff0084;
	background-color: #fff
}

.btn-foursquare {
	color: #fff;
	background-color: #f94877;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-foursquare:focus,
.btn-foursquare.focus {
	color: #fff;
	background-color: #f71752;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-foursquare:hover {
	color: #fff;
	background-color: #f71752;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-foursquare:active,
.btn-foursquare.active,
.open>.dropdown-toggle.btn-foursquare {
	color: #fff;
	background-color: #f71752;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-foursquare:active:hover,
.btn-foursquare.active:hover,
.open>.dropdown-toggle.btn-foursquare:hover,
.btn-foursquare:active:focus,
.btn-foursquare.active:focus,
.open>.dropdown-toggle.btn-foursquare:focus,
.btn-foursquare:active.focus,
.btn-foursquare.active.focus,
.open>.dropdown-toggle.btn-foursquare.focus {
	color: #fff;
	background-color: #e30742;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-foursquare:active,
.btn-foursquare.active,
.open>.dropdown-toggle.btn-foursquare {
	background-image: none
}

.btn-foursquare.disabled:hover,
.btn-foursquare[disabled]:hover,
fieldset[disabled] .btn-foursquare:hover,
.btn-foursquare.disabled:focus,
.btn-foursquare[disabled]:focus,
fieldset[disabled] .btn-foursquare:focus,
.btn-foursquare.disabled.focus,
.btn-foursquare[disabled].focus,
fieldset[disabled] .btn-foursquare.focus {
	background-color: #f94877;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-foursquare .badge {
	color: #f94877;
	background-color: #fff
}

.btn-github {
	color: #fff;
	background-color: #444;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:focus,
.btn-github.focus {
	color: #fff;
	background-color: #2b2b2b;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:hover {
	color: #fff;
	background-color: #2b2b2b;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:active,
.btn-github.active,
.open>.dropdown-toggle.btn-github {
	color: #fff;
	background-color: #2b2b2b;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:active:hover,
.btn-github.active:hover,
.open>.dropdown-toggle.btn-github:hover,
.btn-github:active:focus,
.btn-github.active:focus,
.open>.dropdown-toggle.btn-github:focus,
.btn-github:active.focus,
.btn-github.active.focus,
.open>.dropdown-toggle.btn-github.focus {
	color: #fff;
	background-color: #191919;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:active,
.btn-github.active,
.open>.dropdown-toggle.btn-github {
	background-image: none
}

.btn-github.disabled:hover,
.btn-github[disabled]:hover,
fieldset[disabled] .btn-github:hover,
.btn-github.disabled:focus,
.btn-github[disabled]:focus,
fieldset[disabled] .btn-github:focus,
.btn-github.disabled.focus,
.btn-github[disabled].focus,
fieldset[disabled] .btn-github.focus {
	background-color: #444;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-github .badge {
	color: #444;
	background-color: #fff
}

.btn-google {
	color: #fff;
	background-color: #dd4b39;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:focus,
.btn-google.focus {
	color: #fff;
	background-color: #c23321;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:hover {
	color: #fff;
	background-color: #c23321;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:active,
.btn-google.active,
.open>.dropdown-toggle.btn-google {
	color: #fff;
	background-color: #c23321;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:active:hover,
.btn-google.active:hover,
.open>.dropdown-toggle.btn-google:hover,
.btn-google:active:focus,
.btn-google.active:focus,
.open>.dropdown-toggle.btn-google:focus,
.btn-google:active.focus,
.btn-google.active.focus,
.open>.dropdown-toggle.btn-google.focus {
	color: #fff;
	background-color: #a32b1c;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:active,
.btn-google.active,
.open>.dropdown-toggle.btn-google {
	background-image: none
}

.btn-google.disabled:hover,
.btn-google[disabled]:hover,
fieldset[disabled] .btn-google:hover,
.btn-google.disabled:focus,
.btn-google[disabled]:focus,
fieldset[disabled] .btn-google:focus,
.btn-google.disabled.focus,
.btn-google[disabled].focus,
fieldset[disabled] .btn-google.focus {
	background-color: #dd4b39;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-google .badge {
	color: #dd4b39;
	background-color: #fff
}

.btn-instagram {
	color: #fff;
	background-color: #3f729b;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-instagram:focus,
.btn-instagram.focus {
	color: #fff;
	background-color: #305777;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-instagram:hover {
	color: #fff;
	background-color: #305777;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-instagram:active,
.btn-instagram.active,
.open>.dropdown-toggle.btn-instagram {
	color: #fff;
	background-color: #305777;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-instagram:active:hover,
.btn-instagram.active:hover,
.open>.dropdown-toggle.btn-instagram:hover,
.btn-instagram:active:focus,
.btn-instagram.active:focus,
.open>.dropdown-toggle.btn-instagram:focus,
.btn-instagram:active.focus,
.btn-instagram.active.focus,
.open>.dropdown-toggle.btn-instagram.focus {
	color: #fff;
	background-color: #26455d;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-instagram:active,
.btn-instagram.active,
.open>.dropdown-toggle.btn-instagram {
	background-image: none
}

.btn-instagram.disabled:hover,
.btn-instagram[disabled]:hover,
fieldset[disabled] .btn-instagram:hover,
.btn-instagram.disabled:focus,
.btn-instagram[disabled]:focus,
fieldset[disabled] .btn-instagram:focus,
.btn-instagram.disabled.focus,
.btn-instagram[disabled].focus,
fieldset[disabled] .btn-instagram.focus {
	background-color: #3f729b;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-instagram .badge {
	color: #3f729b;
	background-color: #fff
}

.btn-linkedin {
	color: #fff;
	background-color: #007bb6;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-linkedin:focus,
.btn-linkedin.focus {
	color: #fff;
	background-color: #005983;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-linkedin:hover {
	color: #fff;
	background-color: #005983;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-linkedin:active,
.btn-linkedin.active,
.open>.dropdown-toggle.btn-linkedin {
	color: #fff;
	background-color: #005983;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-linkedin:active:hover,
.btn-linkedin.active:hover,
.open>.dropdown-toggle.btn-linkedin:hover,
.btn-linkedin:active:focus,
.btn-linkedin.active:focus,
.open>.dropdown-toggle.btn-linkedin:focus,
.btn-linkedin:active.focus,
.btn-linkedin.active.focus,
.open>.dropdown-toggle.btn-linkedin.focus {
	color: #fff;
	background-color: #00405f;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-linkedin:active,
.btn-linkedin.active,
.open>.dropdown-toggle.btn-linkedin {
	background-image: none
}

.btn-linkedin.disabled:hover,
.btn-linkedin[disabled]:hover,
fieldset[disabled] .btn-linkedin:hover,
.btn-linkedin.disabled:focus,
.btn-linkedin[disabled]:focus,
fieldset[disabled] .btn-linkedin:focus,
.btn-linkedin.disabled.focus,
.btn-linkedin[disabled].focus,
fieldset[disabled] .btn-linkedin.focus {
	background-color: #007bb6;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-linkedin .badge {
	color: #007bb6;
	background-color: #fff
}

.btn-microsoft {
	color: #fff;
	background-color: #2672ec;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-microsoft:focus,
.btn-microsoft.focus {
	color: #fff;
	background-color: #125acd;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-microsoft:hover {
	color: #fff;
	background-color: #125acd;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-microsoft:active,
.btn-microsoft.active,
.open>.dropdown-toggle.btn-microsoft {
	color: #fff;
	background-color: #125acd;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-microsoft:active:hover,
.btn-microsoft.active:hover,
.open>.dropdown-toggle.btn-microsoft:hover,
.btn-microsoft:active:focus,
.btn-microsoft.active:focus,
.open>.dropdown-toggle.btn-microsoft:focus,
.btn-microsoft:active.focus,
.btn-microsoft.active.focus,
.open>.dropdown-toggle.btn-microsoft.focus {
	color: #fff;
	background-color: #0f4bac;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-microsoft:active,
.btn-microsoft.active,
.open>.dropdown-toggle.btn-microsoft {
	background-image: none
}

.btn-microsoft.disabled:hover,
.btn-microsoft[disabled]:hover,
fieldset[disabled] .btn-microsoft:hover,
.btn-microsoft.disabled:focus,
.btn-microsoft[disabled]:focus,
fieldset[disabled] .btn-microsoft:focus,
.btn-microsoft.disabled.focus,
.btn-microsoft[disabled].focus,
fieldset[disabled] .btn-microsoft.focus {
	background-color: #2672ec;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-microsoft .badge {
	color: #2672ec;
	background-color: #fff
}

.btn-odnoklassniki {
	color: #fff;
	background-color: #f4731c;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-odnoklassniki:focus,
.btn-odnoklassniki.focus {
	color: #fff;
	background-color: #d35b0a;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-odnoklassniki:hover {
	color: #fff;
	background-color: #d35b0a;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-odnoklassniki:active,
.btn-odnoklassniki.active,
.open>.dropdown-toggle.btn-odnoklassniki {
	color: #fff;
	background-color: #d35b0a;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-odnoklassniki:active:hover,
.btn-odnoklassniki.active:hover,
.open>.dropdown-toggle.btn-odnoklassniki:hover,
.btn-odnoklassniki:active:focus,
.btn-odnoklassniki.active:focus,
.open>.dropdown-toggle.btn-odnoklassniki:focus,
.btn-odnoklassniki:active.focus,
.btn-odnoklassniki.active.focus,
.open>.dropdown-toggle.btn-odnoklassniki.focus {
	color: #fff;
	background-color: #b14c09;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-odnoklassniki:active,
.btn-odnoklassniki.active,
.open>.dropdown-toggle.btn-odnoklassniki {
	background-image: none
}

.btn-odnoklassniki.disabled:hover,
.btn-odnoklassniki[disabled]:hover,
fieldset[disabled] .btn-odnoklassniki:hover,
.btn-odnoklassniki.disabled:focus,
.btn-odnoklassniki[disabled]:focus,
fieldset[disabled] .btn-odnoklassniki:focus,
.btn-odnoklassniki.disabled.focus,
.btn-odnoklassniki[disabled].focus,
fieldset[disabled] .btn-odnoklassniki.focus {
	background-color: #f4731c;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-odnoklassniki .badge {
	color: #f4731c;
	background-color: #fff
}

.btn-openid {
	color: #fff;
	background-color: #f7931e;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-openid:focus,
.btn-openid.focus {
	color: #fff;
	background-color: #da7908;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-openid:hover {
	color: #fff;
	background-color: #da7908;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-openid:active,
.btn-openid.active,
.open>.dropdown-toggle.btn-openid {
	color: #fff;
	background-color: #da7908;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-openid:active:hover,
.btn-openid.active:hover,
.open>.dropdown-toggle.btn-openid:hover,
.btn-openid:active:focus,
.btn-openid.active:focus,
.open>.dropdown-toggle.btn-openid:focus,
.btn-openid:active.focus,
.btn-openid.active.focus,
.open>.dropdown-toggle.btn-openid.focus {
	color: #fff;
	background-color: #b86607;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-openid:active,
.btn-openid.active,
.open>.dropdown-toggle.btn-openid {
	background-image: none
}

.btn-openid.disabled:hover,
.btn-openid[disabled]:hover,
fieldset[disabled] .btn-openid:hover,
.btn-openid.disabled:focus,
.btn-openid[disabled]:focus,
fieldset[disabled] .btn-openid:focus,
.btn-openid.disabled.focus,
.btn-openid[disabled].focus,
fieldset[disabled] .btn-openid.focus {
	background-color: #f7931e;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-openid .badge {
	color: #f7931e;
	background-color: #fff
}

.btn-pinterest {
	color: #fff;
	background-color: #cb2027;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-pinterest:focus,
.btn-pinterest.focus {
	color: #fff;
	background-color: #9f191f;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-pinterest:hover {
	color: #fff;
	background-color: #9f191f;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-pinterest:active,
.btn-pinterest.active,
.open>.dropdown-toggle.btn-pinterest {
	color: #fff;
	background-color: #9f191f;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-pinterest:active:hover,
.btn-pinterest.active:hover,
.open>.dropdown-toggle.btn-pinterest:hover,
.btn-pinterest:active:focus,
.btn-pinterest.active:focus,
.open>.dropdown-toggle.btn-pinterest:focus,
.btn-pinterest:active.focus,
.btn-pinterest.active.focus,
.open>.dropdown-toggle.btn-pinterest.focus {
	color: #fff;
	background-color: #801419;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-pinterest:active,
.btn-pinterest.active,
.open>.dropdown-toggle.btn-pinterest {
	background-image: none
}

.btn-pinterest.disabled:hover,
.btn-pinterest[disabled]:hover,
fieldset[disabled] .btn-pinterest:hover,
.btn-pinterest.disabled:focus,
.btn-pinterest[disabled]:focus,
fieldset[disabled] .btn-pinterest:focus,
.btn-pinterest.disabled.focus,
.btn-pinterest[disabled].focus,
fieldset[disabled] .btn-pinterest.focus {
	background-color: #cb2027;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-pinterest .badge {
	color: #cb2027;
	background-color: #fff
}

.btn-reddit {
	color: #000;
	background-color: #eff7ff;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-reddit:focus,
.btn-reddit.focus {
	color: #000;
	background-color: #bcddff;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-reddit:hover {
	color: #000;
	background-color: #bcddff;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-reddit:active,
.btn-reddit.active,
.open>.dropdown-toggle.btn-reddit {
	color: #000;
	background-color: #bcddff;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-reddit:active:hover,
.btn-reddit.active:hover,
.open>.dropdown-toggle.btn-reddit:hover,
.btn-reddit:active:focus,
.btn-reddit.active:focus,
.open>.dropdown-toggle.btn-reddit:focus,
.btn-reddit:active.focus,
.btn-reddit.active.focus,
.open>.dropdown-toggle.btn-reddit.focus {
	color: #000;
	background-color: #98ccff;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-reddit:active,
.btn-reddit.active,
.open>.dropdown-toggle.btn-reddit {
	background-image: none
}

.btn-reddit.disabled:hover,
.btn-reddit[disabled]:hover,
fieldset[disabled] .btn-reddit:hover,
.btn-reddit.disabled:focus,
.btn-reddit[disabled]:focus,
fieldset[disabled] .btn-reddit:focus,
.btn-reddit.disabled.focus,
.btn-reddit[disabled].focus,
fieldset[disabled] .btn-reddit.focus {
	background-color: #eff7ff;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-reddit .badge {
	color: #eff7ff;
	background-color: #000
}

.btn-soundcloud {
	color: #fff;
	background-color: #f50;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-soundcloud:focus,
.btn-soundcloud.focus {
	color: #fff;
	background-color: #c40;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-soundcloud:hover {
	color: #fff;
	background-color: #c40;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-soundcloud:active,
.btn-soundcloud.active,
.open>.dropdown-toggle.btn-soundcloud {
	color: #fff;
	background-color: #c40;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-soundcloud:active:hover,
.btn-soundcloud.active:hover,
.open>.dropdown-toggle.btn-soundcloud:hover,
.btn-soundcloud:active:focus,
.btn-soundcloud.active:focus,
.open>.dropdown-toggle.btn-soundcloud:focus,
.btn-soundcloud:active.focus,
.btn-soundcloud.active.focus,
.open>.dropdown-toggle.btn-soundcloud.focus {
	color: #fff;
	background-color: #a83800;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-soundcloud:active,
.btn-soundcloud.active,
.open>.dropdown-toggle.btn-soundcloud {
	background-image: none
}

.btn-soundcloud.disabled:hover,
.btn-soundcloud[disabled]:hover,
fieldset[disabled] .btn-soundcloud:hover,
.btn-soundcloud.disabled:focus,
.btn-soundcloud[disabled]:focus,
fieldset[disabled] .btn-soundcloud:focus,
.btn-soundcloud.disabled.focus,
.btn-soundcloud[disabled].focus,
fieldset[disabled] .btn-soundcloud.focus {
	background-color: #f50;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-soundcloud .badge {
	color: #f50;
	background-color: #fff
}

.btn-tumblr {
	color: #fff;
	background-color: #2c4762;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-tumblr:focus,
.btn-tumblr.focus {
	color: #fff;
	background-color: #1c2d3f;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-tumblr:hover {
	color: #fff;
	background-color: #1c2d3f;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-tumblr:active,
.btn-tumblr.active,
.open>.dropdown-toggle.btn-tumblr {
	color: #fff;
	background-color: #1c2d3f;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-tumblr:active:hover,
.btn-tumblr.active:hover,
.open>.dropdown-toggle.btn-tumblr:hover,
.btn-tumblr:active:focus,
.btn-tumblr.active:focus,
.open>.dropdown-toggle.btn-tumblr:focus,
.btn-tumblr:active.focus,
.btn-tumblr.active.focus,
.open>.dropdown-toggle.btn-tumblr.focus {
	color: #fff;
	background-color: #111c26;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-tumblr:active,
.btn-tumblr.active,
.open>.dropdown-toggle.btn-tumblr {
	background-image: none
}

.btn-tumblr.disabled:hover,
.btn-tumblr[disabled]:hover,
fieldset[disabled] .btn-tumblr:hover,
.btn-tumblr.disabled:focus,
.btn-tumblr[disabled]:focus,
fieldset[disabled] .btn-tumblr:focus,
.btn-tumblr.disabled.focus,
.btn-tumblr[disabled].focus,
fieldset[disabled] .btn-tumblr.focus {
	background-color: #2c4762;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-tumblr .badge {
	color: #2c4762;
	background-color: #fff
}

.btn-twitter {
	color: #fff;
	background-color: #55acee;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-twitter:focus,
.btn-twitter.focus {
	color: #fff;
	background-color: #2795e9;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-twitter:hover {
	color: #fff;
	background-color: #2795e9;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-twitter:active,
.btn-twitter.active,
.open>.dropdown-toggle.btn-twitter {
	color: #fff;
	background-color: #2795e9;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-twitter:active:hover,
.btn-twitter.active:hover,
.open>.dropdown-toggle.btn-twitter:hover,
.btn-twitter:active:focus,
.btn-twitter.active:focus,
.open>.dropdown-toggle.btn-twitter:focus,
.btn-twitter:active.focus,
.btn-twitter.active.focus,
.open>.dropdown-toggle.btn-twitter.focus {
	color: #fff;
	background-color: #1583d7;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-twitter:active,
.btn-twitter.active,
.open>.dropdown-toggle.btn-twitter {
	background-image: none
}

.btn-twitter.disabled:hover,
.btn-twitter[disabled]:hover,
fieldset[disabled] .btn-twitter:hover,
.btn-twitter.disabled:focus,
.btn-twitter[disabled]:focus,
fieldset[disabled] .btn-twitter:focus,
.btn-twitter.disabled.focus,
.btn-twitter[disabled].focus,
fieldset[disabled] .btn-twitter.focus {
	background-color: #55acee;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-twitter .badge {
	color: #55acee;
	background-color: #fff
}

.btn-vimeo {
	color: #fff;
	background-color: #1ab7ea;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-vimeo:focus,
.btn-vimeo.focus {
	color: #fff;
	background-color: #1295bf;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-vimeo:hover {
	color: #fff;
	background-color: #1295bf;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-vimeo:active,
.btn-vimeo.active,
.open>.dropdown-toggle.btn-vimeo {
	color: #fff;
	background-color: #1295bf;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-vimeo:active:hover,
.btn-vimeo.active:hover,
.open>.dropdown-toggle.btn-vimeo:hover,
.btn-vimeo:active:focus,
.btn-vimeo.active:focus,
.open>.dropdown-toggle.btn-vimeo:focus,
.btn-vimeo:active.focus,
.btn-vimeo.active.focus,
.open>.dropdown-toggle.btn-vimeo.focus {
	color: #fff;
	background-color: #0f7b9f;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-vimeo:active,
.btn-vimeo.active,
.open>.dropdown-toggle.btn-vimeo {
	background-image: none
}

.btn-vimeo.disabled:hover,
.btn-vimeo[disabled]:hover,
fieldset[disabled] .btn-vimeo:hover,
.btn-vimeo.disabled:focus,
.btn-vimeo[disabled]:focus,
fieldset[disabled] .btn-vimeo:focus,
.btn-vimeo.disabled.focus,
.btn-vimeo[disabled].focus,
fieldset[disabled] .btn-vimeo.focus {
	background-color: #1ab7ea;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-vimeo .badge {
	color: #1ab7ea;
	background-color: #fff
}

.btn-vk {
	color: #fff;
	background-color: #587ea3;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-vk:focus,
.btn-vk.focus {
	color: #fff;
	background-color: #466482;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-vk:hover {
	color: #fff;
	background-color: #466482;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-vk:active,
.btn-vk.active,
.open>.dropdown-toggle.btn-vk {
	color: #fff;
	background-color: #466482;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-vk:active:hover,
.btn-vk.active:hover,
.open>.dropdown-toggle.btn-vk:hover,
.btn-vk:active:focus,
.btn-vk.active:focus,
.open>.dropdown-toggle.btn-vk:focus,
.btn-vk:active.focus,
.btn-vk.active.focus,
.open>.dropdown-toggle.btn-vk.focus {
	color: #fff;
	background-color: #3a526b;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-vk:active,
.btn-vk.active,
.open>.dropdown-toggle.btn-vk {
	background-image: none
}

.btn-vk.disabled:hover,
.btn-vk[disabled]:hover,
fieldset[disabled] .btn-vk:hover,
.btn-vk.disabled:focus,
.btn-vk[disabled]:focus,
fieldset[disabled] .btn-vk:focus,
.btn-vk.disabled.focus,
.btn-vk[disabled].focus,
fieldset[disabled] .btn-vk.focus {
	background-color: #587ea3;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-vk .badge {
	color: #587ea3;
	background-color: #fff
}

.btn-yahoo {
	color: #fff;
	background-color: #720e9e;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-yahoo:focus,
.btn-yahoo.focus {
	color: #fff;
	background-color: #500a6f;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-yahoo:hover {
	color: #fff;
	background-color: #500a6f;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-yahoo:active,
.btn-yahoo.active,
.open>.dropdown-toggle.btn-yahoo {
	color: #fff;
	background-color: #500a6f;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-yahoo:active:hover,
.btn-yahoo.active:hover,
.open>.dropdown-toggle.btn-yahoo:hover,
.btn-yahoo:active:focus,
.btn-yahoo.active:focus,
.open>.dropdown-toggle.btn-yahoo:focus,
.btn-yahoo:active.focus,
.btn-yahoo.active.focus,
.open>.dropdown-toggle.btn-yahoo.focus {
	color: #fff;
	background-color: #39074e;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-yahoo:active,
.btn-yahoo.active,
.open>.dropdown-toggle.btn-yahoo {
	background-image: none
}

.btn-yahoo.disabled:hover,
.btn-yahoo[disabled]:hover,
fieldset[disabled] .btn-yahoo:hover,
.btn-yahoo.disabled:focus,
.btn-yahoo[disabled]:focus,
fieldset[disabled] .btn-yahoo:focus,
.btn-yahoo.disabled.focus,
.btn-yahoo[disabled].focus,
fieldset[disabled] .btn-yahoo.focus {
	background-color: #720e9e;
	border-color: rgba(0, 0, 0, 0.2)
}

.btn-yahoo .badge {
	color: #720e9e;
	background-color: #fff
}


/* Bootstrap CSS END */

/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
    background-color: #1d1d1d;
}

.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search,
.chiller-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid #2b2b2b;
}

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: #2b2b2b;
    box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand>a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer>div>a {
    color: #bdbdbd;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
.chiller-theme .sidebar-footer>div>a:hover i {
    color: #ffffff;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
    color: #bdbdbd;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
    color: #ffffff;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #ffffff;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: #2b2b2b;
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #6c7b88;
}

.chiller-theme .sidebar-footer {
    background-color: #2b2b2b;
    box-shadow: 0px -1px 5px #131212;
    border-top: 1px solid #3a3a3a;
}

.chiller-theme .sidebar-footer>div:first-child {
    border-left: none;
}

.chiller-theme .sidebar-footer>div:last-child {
    border-right: none;
}

.chiller-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.chiller-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.chiller-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #636363;
}

.chiller-theme .mCSB_scrollTools .mCSB_draggerRail {
    background-color: transparent;
}

/*-----------------------style with background image -----------------------------------*/

.sidebar-bg.chiller-theme .sidebar-wrapper::before {
    background-color: rgba(29, 29, 29, 0.8);
}

.sidebar-bg.chiller-theme .sidebar-wrapper .sidebar-header,
.sidebar-bg.chiller-theme .sidebar-wrapper .sidebar-search,
.sidebar-bg.chiller-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-bg.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-bg.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: rgba(255, 255, 255, 0.2);
    box-shadow: none;
}

.sidebar-bg.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.sidebar-bg.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.sidebar-bg.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-bg.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-bg.chiller-theme .sidebar-footer {
    background-color: rgba(43, 43, 43, 0.5);
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.28);
    border-top: 1px solid rgba(255, 255, 255, 0.058823529411764705);
}

/*-----------------------------ice-theme-------------------------------------------------*/

.ice-theme .sidebar-wrapper {
    background-color: #2B3A42;
}

.ice-theme .sidebar-wrapper .sidebar-header,
.ice-theme .sidebar-wrapper .sidebar-search,
.ice-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid #3a4d56;
}

.ice-theme .sidebar-wrapper .sidebar-search input.search-menu,
.ice-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: #3a4d56;
    box-shadow: none;
}

.ice-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.ice-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.ice-theme .sidebar-wrapper .sidebar-search input.search-menu,
.ice-theme .sidebar-wrapper .sidebar-search .input-group-text,
.ice-theme .sidebar-wrapper .sidebar-brand>a,
.ice-theme .sidebar-wrapper .sidebar-menu ul li a,
.ice-theme .sidebar-footer>div>a {
    color: #bdd4de;
}

.ice-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.ice-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
.ice-theme .sidebar-wrapper .sidebar-header .user-info,
.ice-theme .sidebar-wrapper .sidebar-brand>a:hover,
.ice-theme .sidebar-footer>div>a:hover i {
    color: #EFEFEF;
}

.page-wrapper.ice-theme.toggled #close-sidebar {
    color: #bdd4de;
}

.page-wrapper.ice-theme.toggled #close-sidebar:hover {
    color: #EFEFEF;
}

.ice-theme .sidebar-wrapper ul li:hover a i,
.ice-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.ice-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.ice-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #EFEFEF;
}

.ice-theme .sidebar-wrapper .sidebar-menu ul li a i,
.ice-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.ice-theme .sidebar-wrapper .sidebar-search input.search-menu,
.ice-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: #3a4d56;
}

.ice-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: rgba(189, 212, 222, 0.5);
}

.ice-theme .sidebar-footer {
    background-color: #3a4d56;
    border-top: 1px solid #495d67;
}

.ice-theme .sidebar-footer>div:first-child {
    border-left: none;
}

.ice-theme .sidebar-footer>div:last-child {
    border-right: none;
}

.ice-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.ice-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.ice-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #8998a5;
}

.ice-theme .mCSB_scrollTools .mCSB_draggerRail {
    background-color: transparent;
}

/*-----------------------style with background image -----------------------------------*/

.sidebar-bg.ice-theme .sidebar-wrapper::before {
    background-color: rgba(2, 19, 25, 0.8);
}

.sidebar-bg.ice-theme .sidebar-wrapper .sidebar-header,
.sidebar-bg.ice-theme .sidebar-wrapper .sidebar-search,
.sidebar-bg.ice-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid rgba(58, 77, 86, 0.5);
}

.sidebar-bg.ice-theme .sidebar-wrapper .sidebar-menu ul li a i,
.sidebar-bg.ice-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.sidebar-bg.ice-theme .sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-bg.ice-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: rgba(58, 77, 86, 0.4);
}

.sidebar-bg.ice-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: rgba(189, 212, 222, 0.5);
}

.sidebar-bg.ice-theme .sidebar-footer {
    background-color: rgba(58, 77, 86, 0.3);
    border-top: 1px solid rgba(73, 93, 103, 0.3);
}

/*-----------------------cool theme---------------------*/

.cool-theme .sidebar-wrapper {
    background-color: #38373D;
}

.cool-theme .sidebar-wrapper .sidebar-header,
.cool-theme .sidebar-wrapper .sidebar-search,
.cool-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid #504E57;
}

.cool-theme .sidebar-wrapper .sidebar-search input.search-menu,
.cool-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: #504E57;
    box-shadow: none;
}

.cool-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.cool-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.cool-theme .sidebar-wrapper .sidebar-search input.search-menu,
.cool-theme .sidebar-wrapper .sidebar-search .input-group-text,
.cool-theme .sidebar-wrapper .sidebar-brand>a,
.cool-theme .sidebar-wrapper .sidebar-menu ul li a,
.cool-theme .sidebar-footer>div>a {
    color: #918F9E;
}

.cool-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.cool-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
.cool-theme .sidebar-wrapper .sidebar-header .user-info,
.cool-theme .sidebar-wrapper .sidebar-brand>a:hover,
.cool-theme .sidebar-footer>div>a:hover i {
    color: #b3b8c1;
}

.page-wrapper.cool-theme.toggled #close-sidebar {
    color: #918F9E;
}

.page-wrapper.cool-theme.toggled #close-sidebar:hover {
    color: #b3b8c1;
}

.cool-theme .sidebar-wrapper ul li:hover a i,
.cool-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.cool-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.cool-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #ff7bdb;
}

.cool-theme .sidebar-wrapper .sidebar-menu ul li a i,
.cool-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.cool-theme .sidebar-wrapper .sidebar-search input.search-menu,
.cool-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: #504E57;
}

.cool-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #5B5963;
}

.cool-theme .sidebar-footer {
    background-color: #504E57;
    box-shadow: 0px -1px 5px #2a292d;
    border-top: 1px solid #5B5963;
}

.cool-theme .sidebar-footer>div {
    border-left: 1px solid #38373D;
    border-right: 1px solid #5B5963;
}

.cool-theme .sidebar-footer>div:first-child {
    border-left: none;
}

.cool-theme .sidebar-footer>div:last-child {
    border-right: none;
}

.cool-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.cool-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.cool-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #918F9E;
}

/*-----------------------style with background image -----------------------------------*/

.sidebar-bg.cool-theme .sidebar-wrapper::before {
    background-color: rgba(47, 47, 47, 0.8);
}

.sidebar-bg.cool-theme .sidebar-wrapper .sidebar-header,
.sidebar-bg.cool-theme .sidebar-wrapper .sidebar-search,
.sidebar-bg.cool-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.sidebar-bg.cool-theme .sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-bg.cool-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: rgba(138, 137, 144, 0.6);
}

.sidebar-bg.cool-theme .sidebar-wrapper .sidebar-menu ul li a i,
.sidebar-bg.cool-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.sidebar-bg.cool-theme .sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-bg.cool-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: rgba(105, 105, 105, 0.5);
}

.sidebar-bg.cool-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #8e8d90;
}

.sidebar-bg.cool-theme .sidebar-footer {
    background-color: rgba(80, 78, 87, 0.5);
}

/*----------------------Light theme-------------------------*/

.light-theme .sidebar-wrapper {
    background-color: #F1F0ED;
    border-right: 1px solid #A4A29E;
}

.light-theme .sidebar-wrapper .sidebar-brand,
.light-theme .sidebar-wrapper .sidebar-header,
.light-theme .sidebar-wrapper .sidebar-search {
    border-bottom: 1px solid #A4A29E;
}

.light-theme .sidebar-wrapper .sidebar-header,
.light-theme .sidebar-wrapper .sidebar-search,
.light-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid #ffffff;
}

.light-theme .sidebar-wrapper .sidebar-search input.search-menu,
.light-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: #c1c1c1;
    box-shadow: none;
}

.light-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.light-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.light-theme .sidebar-wrapper .sidebar-search input.search-menu,
.light-theme .sidebar-wrapper .sidebar-search .input-group-text,
.light-theme .sidebar-wrapper .sidebar-brand>a,
.light-theme .sidebar-wrapper .sidebar-menu ul li a,
.light-theme .sidebar-footer>div>a {
    color: #74726E;
}

.light-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.light-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
.light-theme .sidebar-wrapper .sidebar-header .user-info,
.light-theme .sidebar-wrapper .sidebar-brand>a:hover,
.light-theme .sidebar-footer>div>a:hover i {
    color: #302F2C;
}

.page-wrapper.light-theme.toggled #close-sidebar {
    color: #74726E;
}

.page-wrapper.light-theme.toggled #close-sidebar:hover {
    color: #302F2C;
}

.light-theme .sidebar-wrapper ul li:hover a i,
.light-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.light-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.light-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #00a9fd;
}

.light-theme .sidebar-wrapper .sidebar-menu ul li a i,
.light-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.light-theme .sidebar-wrapper .sidebar-search input.search-menu,
.light-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: #ffffff;
}

.light-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #A4A29E;
}

.light-theme .sidebar-footer {
    background-color: #f1f0ed;
    border-top: 1px solid #A4A29E;
}

.light-theme .sidebar-footer>div {
    border-left: 1px solid #A4A29E;
    border-right: 1px solid #ffffff;
}

.light-theme .sidebar-footer>div:first-child {
    border-left: none;
}

.light-theme .sidebar-footer>div:last-child {
    border-right: none;
}

.light-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.light-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.light-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #c1c1c1;
}

.light-theme .mCSB_scrollTools .mCSB_draggerRail {
    background-color: transparent;
}

/*-----------------------style with background image -----------------------------------*/

.sidebar-bg.light-theme .sidebar-wrapper::before {
    background-color: rgba(241, 240, 237, 0.8);
}

.sidebar-bg.light-theme .sidebar-wrapper .sidebar-header,
.sidebar-bg.light-theme .sidebar-wrapper .sidebar-search,
.sidebar-bg.light-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid #ffffff;
}

.sidebar-bg.light-theme .sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-bg.light-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: #c1c1c1;
}

.sidebar-bg.light-theme .sidebar-wrapper .sidebar-menu ul li a i,
.sidebar-bg.light-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.sidebar-bg.light-theme .sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-bg.light-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: rgba(255, 255, 255, 0.5);
}

.sidebar-bg.light-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #696969;
}

.sidebar-bg.light-theme .sidebar-footer {
    background-color: rgba(241, 240, 237, 0.8);
    border-top: 1px solid #A4A29E;
}

body {
    font-size: .9rem;
}

.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand>a,
.sidebar-wrapper .sidebar-dropdown>a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
.sidebar-b .sidebar-wrapper::before,
#show-sidebar,
#close-sidebar {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

/*----------------page-wrapper----------------*/

.page-wrapper {
    height: 100vh;
}

.page-wrapper .theme {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 4px;
    margin: 2px;
    background-size: cover;
}
.page-wrapper .theme.selected {
    border:2px solid #00c7ff;
}

.page-wrapper .theme.chiller-theme {
    background: #1d1d1d;
}

.page-wrapper .theme.ice-theme {
    background: #2B3A42;
}

.page-wrapper .theme.light-theme {
    background: #F1F0ED;
}

.page-wrapper .theme.cool-theme {
    background: #38373D;
}

.page-wrapper .theme.green-theme {
    background: #2C5E2E;
}

.page-wrapper .theme.spicy-theme {
    background: #8E2800;
}

.page-wrapper .theme.purple-theme {
    background: #372049;
}

[data-bg="bg1"] {
    background-image: url(../img/bg1.jpg);
}

[data-bg="bg2"] {
    background-image: url(../img/bg2.jpg);
}

[data-bg="bg3"] {
    background-image: url(../img/bg3.jpg);
}
[data-bg="bg4"] {
    background-image: url(../img/bg4.jpg);
}


/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
    left: 0px;
}

@media screen and (min-width: 768px) {
    .page-wrapper.toggled .page-content {
        padding-left: 300px;
    }
}

/*----------------show sidebar button----------------*/

#show-sidebar {
    position: fixed;
    left: 0;
    top: 10px;
    border-radius: 0 4px 4px 0px;
    width: 35px;
    transition-delay: .3s;
}

.page-wrapper.toggled #show-sidebar {
    left: -40px;
}

/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
    width: 260px;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 999;
}

.sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-wrapper a {
    text-decoration: none;
}
/*----------------sidebar background style-------------*/

.sidebar-bg .sidebar-wrapper{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sidebar-bg .sidebar-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*----------sidebar background images --------------*/

.sidebar-bg.bg1 .sidebar-wrapper{
    background-image: url(../img/bg1.jpg);
}
.sidebar-bg.bg2 .sidebar-wrapper{
    background-image: url(../img/bg2.jpg);
}
.sidebar-bg.bg3 .sidebar-wrapper{
    background-image: url(../img/bg3.jpg);
}
.sidebar-bg.bg4 .sidebar-wrapper{
    background-image: url(../img/bg4.jpg);
}

/*----------------sidebar-content----------------*/

.sidebar-content {
    max-height: calc(100% - 30px);
    height: calc(100% - 30px);
    overflow-y: scroll;
    position: relative;
}

.sidebar-content.desktop {
    overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.sidebar-wrapper .sidebar-brand>a {
    text-transform: uppercase;
    font-weight: bold;
    flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
    cursor: pointer;
    font-size: 20px;
}

/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
    padding: 20px;
    overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic {
    float: left;
    width: 60px;
    padding: 2px;
    border-radius: 12px;
    margin-right: 15px;
    overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.sidebar-wrapper .sidebar-header .user-info {
    float: left;
}

.sidebar-wrapper .sidebar-header .user-info>span {
    display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
    font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
    font-size: 11px;
    margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
    font-size: 8px;
    margin-right: 4px;
    color: #5cb85c;
}

/*-----------------------sidebar-search------------------------*/

.sidebar-wrapper .sidebar-search>div {
    padding: 10px 20px;
}

.sidebar-wrapper .sidebar-search .input-group-append .input-group-text{
    border-left: 0;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
    padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
    font-weight: bold;
    font-size: 14px;
    padding: 15px 20px 5px 20px;
    display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    position: relative;
    padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
    margin-right: 10px;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover>i::before {
    display: inline-block;
    animation: swing ease-in-out .5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown>a:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: 0 0;
    position: absolute;
    right: 15px;
    top: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
    padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
    padding-left: 25px;
    font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    font-size: 8px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
    float: right;
    margin-top: 8px;
    margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
    float: right;
    margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
    display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a:after {
    transform: rotate(90deg);
    right: 17px;
}

/*--------------------------side-footer------------------------------*/

.sidebar-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
}

.sidebar-footer>div {
    flex-grow: 1;
    text-align: center;
    height: 30px;
    line-height: 30px;
    position: static;
    display: flex;
}

.sidebar-footer .dropdown-menu {
    bottom: 31px;
    left: 0 !important;
    top: initial !important;
    right: 0;
    transform: none!important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: .9rem;
}

.sidebar-footer>div>a {
    flex-grow: 1;
}

.sidebar-footer>div a .notification {
    position: absolute;
    top: 0;
}

.badge-sonar {
    display: inline-block;
    background: #980303;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    position: absolute;
    top: 0;
}

.badge-sonar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #980303;
    opacity: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: sonar 1.5s infinite;
}


.sidebar-footer .messages .dropdown-item,
.sidebar-footer .notifications .dropdown-item{
    padding: .25rem 1rem;
}
.sidebar-footer .messages .messages-header,
.sidebar-footer .notifications .notifications-header{
    padding: 0 1rem;
}
.sidebar-footer .messages .message-content,
.sidebar-footer .notifications .notification-content{
    display: flex;
}

.sidebar-footer .messages .message-content .pic{
    width: 40px;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
}
.sidebar-footer .notifications .notification-content .icon{
    width: 40px;
    height: 40px;
}
.sidebar-footer .notifications .notification-content .icon i{
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 4px;
}

.sidebar-footer .messages .message-content .pic img{
    object-fit: cover;
    height: 100%;
}
.sidebar-footer .notifications .notification-content .content,
.sidebar-footer .messages .message-content .content{
    line-height: 1.6;
    padding-left: 5px;
    width: calc(100% - 40px);
}
.sidebar-footer .messages .message-content .content .message-title{
    font-size: 13px;
}

.sidebar-footer .notifications .notification-content .content .notification-time{
    font-size: .7rem;
    color: #828282;
}

.sidebar-footer .notifications .notification-content .content .notification-detail,
.sidebar-footer .messages .message-content .content .message-detail{
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
    padding-top: 20px;
}

.page-wrapper .page-content>div {
    padding: 20px 40px;
}

.page-wrapper .page-content {
    overflow-x: hidden;
}

/*----------------  Scroll bar style   --------------- */

.mCSB_scrollTools {
    width: 6px;
}

.mCSB_inside>.mCSB_container {
    margin-right: 0px;
}
/*-----------------------------chiller-theme END---------------------------------------------*/